@media screen and (min-width: 480px) {
    .btn-upgrade {
        font-size: 1rem;
    }

    .sidebar__logo > img:last-child {
        display: block;
    }

    .sidebar__logo > img:first-child {
        display: none;
    }

    .sidebar__menu {
        align-items: flex-start;
       
    }

    
    .icons > a span {
        display: inline;
    }

    .sidebar__playlist {
        display: inline-block;
    }
    
}